:root {
  --bg-color: #646;
  --fg-color: white;
  --accent-color: #444;
  --text-color: black;
  --alt-text-color: white;
  --highlight-color: #646;
  --rainbow-gradient2: red,orange,yellow,green,blue,indigo,violet;
  --rainbow-gradient: #FAA, #FCA, #FFA, #AFA, #AAF, #CAF, #FAF;
}

body {
  margin: 20px;
  min-height: 100%;
  color: var(--alt-text-color);
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, var(--bg-color), var(--accent-color));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input[type='text'] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  outline: none;
}

.button {
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: 2px 10px;
  background-color: var(--accent-color);
  color: var(--alt-text-color);
}

.button:hover {
  background-color: var(--highlight-color);
}
