.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
}

.grid > div {
  padding: 20px;
  background-color: var(--fg-color);
  color: var(--text-color);
  border-radius: 5px;
  border: 2px solid black;
}

.main {
  grid-column: 1/2;
  grid-row: 2/4;
}

.fullWidth {
  grid-column: 1/3;
}

.header {
  composes: fullWidth;
}

.footer {
  composes: fullWidth;
}
