.title {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.the {
  text-transform: lowercase;
}

.awkward {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 200%;
  white-space: nowrap;
  line-height: 0.8em;
}

.storyteller {
  text-transform: lowercase;
  text-align: right;
}

.mirrored {
  transform: scaleX(-1);
  display: inline-block;
}
