.title {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  color: black;
}

.the {
  text-transform: lowercase;
  font-size: 80%;
}

.awkward {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 120%;
  white-space: nowrap;
  line-height: 0.8em;
}

.storyteller {
  text-transform: lowercase;
  text-align: right;
  font-size: 80%;
}

.mirrored {
  transform: scaleX(-1);
  display: inline-block;
}
